*~
*.elc
backups/
elpa/
lib/
desktop/
auto-save-list
tramp
local-lisp/
url/
eshell/history/
eshell/lastdir/
tmp/
server
semanticdb/
srecode-map.el
.cask
recentf
emacs-c-src/
/eln-cache/
/eshell/history
/transient/
/var/
